
*.xcuserstate

Test Project/Test Project.xcodeproj/project.xcworkspace/xcuserdata/ScottW.xcuserdatad/UserInterfaceState.xcuserstate

Test Project/Test Project.xcodeproj/project.xcworkspace/xcuserdata/chris.xcuserdatad/UserInterfaceState.xcuserstate
